html,
body{
    height: 100%;
    font-size: 1rem;
}

#image-logo{
    height: 70px;
    width: 75px;
}
.gradient{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(200,174,71,1) 35%, rgba(255,118,92,1) 80%);
}
#header-image{
    height: 500px;
    width: 500px;
}
.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.brandimgs{
    height:100%;
    width:100%;
    }